<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>AllUsers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${princ.username}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:text="${princ.getAuthorities()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                <a class="nav-link" href="/admin/" sec:authorize="hasAuthority('ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link active" href="/user/" sec:authorize="(hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER'))"
                   role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10 px-0">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h1 class="m-0 fw-normal">User information-page</h1>
                    </div>
                    <div class="p-0 col-10">
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h5>About user</h5>
                                </div>
                            </div>
                            <div class="card fw-bold">
                                <div class="card-body">
                                    <table class="table fw-light">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${princ.id}">ID</td>
                                            <td th:text="${princ.name}">Name</td>
                                            <td th:text="${princ.lastName}">Last Name</td>
                                            <td th:text="${princ.age}">Age</td>
                                            <td th:text="${princ.getUsername()}">Email</td>
                                            <td th:text="${princ.getAuthorities()}">Role</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>